<link href="/css/signup.css" rel="stylesheet"/>
<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Create You're Account</h1>
            <div class="container-form">
                <form id="signup-form">
                    <div id="fi-input" class="form-group">
                      <label for="InputFI">Add a Bank or Finincial Institution</label>
                    <!--    IF WE WANT TO HAVE AN OPEN TEXT AREA TO ADD THEIR BANK OR FI; SINCE WE AREN'T VERIFYING WITH FI THAT ACCOUNT IS REAL
                    <input id="fi-name" type="text" class="form-control" placeholder="Enter Bank of Financial Institution"> -->
                  <!--   </div> -->
                      <select class="form-control">
                        <option>Wells Fargo</option>
                        <option>Bank of America</option>
                        <option>Chase Bank</option>
                        <option>American Express</option>
                        <option>SunTrust Bank</option>
                        <option>BB&T Bank</option>
                        <!-- <option>Other</option>  WOULD NEED CODE TO EXPAND A text-input FIELD -->
                      </select>
                    </div>
                    <div id="AcctType_input" class="form-group">
                      <label for="InputAcctType">Select Account Type</label>
                        <select class="form-control">Select Your Financial Institution
                          <option>Checking Account</option>
                          <option>Credit Card</option>
                          <option>Mortgage</option>
                          <option>Car Loan</option>
                          <option>Student Loan</option>
                          <option>Other</option>
                        </select>
                    <div id="vendor_input" class="form-group">
                      <label for="Inputvendor">Add a Vendor</label>
                        <input id="vendor-name" type="text" class="form-control" placeholder="Who is the Vendor">
                    </div>
<!--                         <select class="form-control">Select The Vendor You're Scheduled to Pay
                          <option>Verizon</option>
                          <option>FPL</option>
                          <option>Comcast</option>
                          <option>Spotify</option>
                          <option>Netflix</option>
                          <option>Netflix</option>
                          <option>Planet Fitness Monthly Membership</option>
                          <option>Netflix</option>
                          <option>Netflix</option>
                          <option>Netflix</option>
                        </select> -->

                    <div id="amount_input" class="form-group">
                        <label class="sr-only" for="InputAmount">Amount (in dollars)</label>
                          <div class="input-group">
                            <div class="input-group-addon">$</div>
                              <input id="ammount-pay" type="text" class="form-control" id="pay-amount" placeholder="Amount">
                        </div>
                    </div>
                    <div class="row-buttons">
                        <div class="row top-30">
                            <div id="signup" class="col-md-6 col-sm-4">
                                <a class="btn btn-default" href="/login">Sign-Up</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div class="clearfooter"></div>