* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #222930;
}


/****************************END Navagation bar *************************************/


/****************************Start the login form*************************************/

body {
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 100%;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    background-color: #222930;
}

#wrapper {
    margin-top: 192px;
    padding: 25px;
    margin-left: 468px;
    width: 995px;
}

#wrapper h1 {
    margin-top: 50px;
    font-size: 45px;
    color: #424949;
}

#wrapper h1 p {
    font-size: 18px;
}

.form_div {
    width: 330px;
    margin-left: 320px;
    padding: 10px;
}

.form_div .form_label {
    margin: 15px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.form_div input[type="text"],
input[type="password"] {
    width: 230px;
    height: 40px;
    border-radius: 2px;
    font-size: 17px;
    padding-left: 5px;
    border: none;
}

.form_div input[type="submit"] {
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 17px;
    background-color: #1ec3f3;
    border-bottom: 3px solid #1ec3f3;
    color: white;
    font-weight: bold;
}

@media only screen and (min-width:700px) and (max-width:995px) {
    #wrapper {
        width: 100%;
    }
    #wrapper h1 {
        font-size: 30px;
    }
    .form_div {
        width: 50%;
        margin-left: 25%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .form_div input[type="text"],
    input[type="password"] {
        width: 80%;
    }
    .form_div textarea {
        width: 80%;
    }
    .form_div input[type="submit"] {
        width: 80%;
    }
}

@media only screen and (min-width:400px) and (max-width:699px) {
    #wrapper {
        width: 100%;
    }
    #wrapper h1 {
        font-size: 30px;
    }
    .form_div {
        width: 60%;
        margin-left: 20%;
    }
    .form_div input[type="text"],
    input[type="password"] {
        width: 80%;
    }
    .form_div input[type="submit"] {
        width: 80%;
    }
}

@media only screen and (min-width:100px) and (max-width:399px) {
    #wrapper {
        width: 100%;
    }
    #wrapper h1 {
        font-size: 25px;
    }
    .form_div {
        width: 90%;
        margin-left: 5%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .form_div input[type="text"],
    input[type="password"] {
        width: 80%;
    }
    .form_div input[type="submit"] {
        width: 80%;
    }
}

/* SINGUP FILD  */
input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

/* Set a style for all buttons */
button {
    background-color: #1ec3f3;
    color: white;
    padding: 9px 44px 11px 62px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 17px;
    border-bottom: 0 solid #1ec3f3;
    color: white;
    font-weight: bold;
}

b ,p {
    color: white;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 9px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {float:left;width:50%}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}